<div id="<%= dom_id pedido_venda %>">
  <p>
    <strong>Cliente:</strong>
    <%= pedido_venda.cliente %>
  </p>

  <p>
    <strong>Data pedido:</strong>
    <%= pedido_venda.data_pedido %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= pedido_venda.valor_total %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= pedido_venda.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pedido_venda.status %>
  </p>

  <p>
    <strong>Data entrega:</strong>
    <%= pedido_venda.data_entrega %>
  </p>

</div>
