<div id="<%= dom_id gerenciamento_contas_bancarium %>">
  <p>
    <strong>Banco:</strong>
    <%= gerenciamento_contas_bancarium.banco %>
  </p>

  <p>
    <strong>Agencia:</strong>
    <%= gerenciamento_contas_bancarium.agencia %>
  </p>

  <p>
    <strong>Conta:</strong>
    <%= gerenciamento_contas_bancarium.conta %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= gerenciamento_contas_bancarium.tipo %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= gerenciamento_contas_bancarium.saldo %>
  </p>

  <p>
    <strong>Data abertura:</strong>
    <%= gerenciamento_contas_bancarium.data_abertura %>
  </p>

  <p>
    <strong>Titular:</strong>
    <%= gerenciamento_contas_bancarium.titular %>
  </p>

</div>
