<p style="color: green"><%= notice %></p>

<%= render @gerenciamento_contas_bancarium %>

<div>
  <%= link_to "Edit this gerenciamento contas bancarium", edit_gerenciamento_contas_bancarium_path(@gerenciamento_contas_bancarium) %> |
  <%= link_to "Back to gerenciamento contas bancaria", gerenciamento_contas_bancaria_path %>

  <%= button_to "Destroy this gerenciamento contas bancarium", @gerenciamento_contas_bancarium, method: :delete %>
</div>
