<div id="<%= dom_id consulta_estoque %>">
  <p>
    <strong>Produto:</strong>
    <%= consulta_estoque.produto %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= consulta_estoque.quantidade %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= consulta_estoque.localizacao %>
  </p>

  <p>
    <strong>Data entrada:</strong>
    <%= consulta_estoque.data_entrada %>
  </p>

  <p>
    <strong>Data saida:</strong>
    <%= consulta_estoque.data_saida %>
  </p>

  <p>
    <strong>Valor unitario:</strong>
    <%= consulta_estoque.valor_unitario %>
  </p>

</div>
