<p style="color: green"><%= notice %></p>

<%= render @consulta_estoque %>

<div>
  <%= link_to "Edit this consulta estoque", edit_consulta_estoque_path(@consulta_estoque) %> |
  <%= link_to "Back to consulta estoques", consulta_estoques_path %>

  <%= button_to "Destroy this consulta estoque", @consulta_estoque, method: :delete %>
</div>
