<%= form_with(model: fluxo_caixa) do |form| %>
  <% if fluxo_caixa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fluxo_caixa.errors.count, "error") %> prohibited this fluxo_caixa from being saved:</h2>

      <ul>
        <% fluxo_caixa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :categoria, style: "display: block" %>
    <%= form.text_field :categoria %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
