<p style="color: green"><%= notice %></p>

<%= render @fluxo_caixa %>

<div>
  <%= link_to "Edit this fluxo caixa", edit_fluxo_caixa_path(@fluxo_caixa) %> |
  <%= link_to "Back to fluxo caixas", fluxo_caixas_path %>

  <%= button_to "Destroy this fluxo caixa", @fluxo_caixa, method: :delete %>
</div>
