<div id="<%= dom_id ordem_pagamento %>">
  <p>
    <strong>Fornecedor:</strong>
    <%= ordem_pagamento.fornecedor %>
  </p>

  <p>
    <strong>Data emissao:</strong>
    <%= ordem_pagamento.data_emissao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= ordem_pagamento.valor %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= ordem_pagamento.descricao %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= ordem_pagamento.data_pagamento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ordem_pagamento.status %>
  </p>

</div>
