<p style="color: green"><%= notice %></p>

<%= render @ordem_pagamento %>

<div>
  <%= link_to "Edit this ordem pagamento", edit_ordem_pagamento_path(@ordem_pagamento) %> |
  <%= link_to "Back to ordem pagamentos", ordem_pagamentos_path %>

  <%= button_to "Destroy this ordem pagamento", @ordem_pagamento, method: :delete %>
</div>
