<%= form_with(model: gestao_beneficio) do |form| %>
  <% if gestao_beneficio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(gestao_beneficio.errors.count, "error") %> prohibited this gestao_beneficio from being saved:</h2>

      <ul>
        <% gestao_beneficio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :data_inicio, style: "display: block" %>
    <%= form.date_field :data_inicio %>
  </div>

  <div>
    <%= form.label :data_fim, style: "display: block" %>
    <%= form.date_field :data_fim %>
  </div>

  <div>
    <%= form.label :ativo, style: "display: block" %>
    <%= form.check_box :ativo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
