<div id="<%= dom_id gestao_beneficio %>">
  <p>
    <strong>Nome:</strong>
    <%= gestao_beneficio.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= gestao_beneficio.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= gestao_beneficio.valor %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= gestao_beneficio.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= gestao_beneficio.data_fim %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= gestao_beneficio.ativo %>
  </p>

</div>
