<%= form_with(model: projeto) do |form| %>
  <% if projeto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
        <% projeto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :data_inicio, style: "display: block" %>
    <%= form.date_field :data_inicio %>
  </div>

  <div>
    <%= form.label :data_fim, style: "display: block" %>
    <%= form.date_field :data_fim %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :prioridade, style: "display: block" %>
    <%= form.text_field :prioridade %>
  </div>

  <div>
    <%= form.label :responsavel, style: "display: block" %>
    <%= form.text_field :responsavel %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
