<div id="<%= dom_id projeto %>">
  <p>
    <strong>Nome:</strong>
    <%= projeto.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= projeto.descricao %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= projeto.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= projeto.data_fim %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= projeto.status %>
  </p>

  <p>
    <strong>Prioridade:</strong>
    <%= projeto.prioridade %>
  </p>

  <p>
    <strong>Responsavel:</strong>
    <%= projeto.responsavel %>
  </p>

</div>
