<p style="color: green"><%= notice %></p>

<%= render @projeto %>

<div>
  <%= link_to "Edit this projeto", edit_projeto_path(@projeto) %> |
  <%= link_to "Back to projetos", projetos_path %>

  <%= button_to "Destroy this projeto", @projeto, method: :delete %>
</div>
