<div id="<%= dom_id relatorio %>">
  <p>
    <strong>Nome:</strong>
    <%= relatorio.nome %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= relatorio.tipo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= relatorio.descricao %>
  </p>

  <p>
    <strong>Data geracao:</strong>
    <%= relatorio.data_geracao %>
  </p>

  <p>
    <strong>Conteudo:</strong>
    <%= relatorio.conteudo %>
  </p>

</div>
