<p style="color: green"><%= notice %></p>

<%= render @relatorio %>

<div>
  <%= link_to "Edit this relatorio", edit_relatorio_path(@relatorio) %> |
  <%= link_to "Back to relatorios", relatorios_path %>

  <%= button_to "Destroy this relatorio", @relatorio, method: :delete %>
</div>
