<div id="<%= dom_id cadastro_ativo %>">
  <p>
    <strong>Nome:</strong>
    <%= cadastro_ativo.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= cadastro_ativo.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= cadastro_ativo.valor %>
  </p>

  <p>
    <strong>Data aquisicao:</strong>
    <%= cadastro_ativo.data_aquisicao %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= cadastro_ativo.localizacao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= cadastro_ativo.status %>
  </p>

</div>
