<%= form_with(model: cadastro_ativo) do |form| %>
  <% if cadastro_ativo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cadastro_ativo.errors.count, "error") %> prohibited this cadastro_ativo from being saved:</h2>

      <ul>
        <% cadastro_ativo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :data_aquisicao, style: "display: block" %>
    <%= form.date_field :data_aquisicao %>
  </div>

  <div>
    <%= form.label :localizacao, style: "display: block" %>
    <%= form.text_field :localizacao %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
