<p style="color: green"><%= notice %></p>

<%= render @cadastro_ativo %>

<div>
  <%= link_to "Edit this cadastro ativo", edit_cadastro_ativo_path(@cadastro_ativo) %> |
  <%= link_to "Back to cadastro ativos", cadastro_ativos_path %>

  <%= button_to "Destroy this cadastro ativo", @cadastro_ativo, method: :delete %>
</div>
