<p style="color: green"><%= notice %></p>

  </head>
    <!-- Incluir a biblioteca jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Carregar o arquivo JavaScript para alternância de tema -->

  </head>

<%= render @client %>

<div>
  <%= link_to "Edit this product", edit_client_path(@client) %> |
  <%= link_to "Back to products", client_path %>

  <%= button_to "Destroy this client", @client, method: :delete %>
</div>
