<div id="<%= dom_id conta_receber %>">
  <p>
    <strong>Cliente:</strong>
    <%= conta_receber.cliente %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= conta_receber.data_vencimento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= conta_receber.valor %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= conta_receber.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= conta_receber.status %>
  </p>

  <p>
    <strong>Data recebimento:</strong>
    <%= conta_receber.data_recebimento %>
  </p>

</div>
