<div id="<%= dom_id titulos_baixado %>">
  <p>
    <strong>Cliente:</strong>
    <%= titulos_baixado.cliente %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= titulos_baixado.data_vencimento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= titulos_baixado.valor %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= titulos_baixado.descricao %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= titulos_baixado.data_pagamento %>
  </p>

</div>
