<p style="color: green"><%= notice %></p>

<%= render @titulos_baixado %>

<div>
  <%= link_to "Edit this titulos baixado", edit_titulos_baixado_path(@titulos_baixado) %> |
  <%= link_to "Back to titulos baixados", titulos_baixados_path %>

  <%= button_to "Destroy this titulos baixado", @titulos_baixado, method: :delete %>
</div>
