<%= form_with(model: titulos_em_aberto) do |form| %>
  <% if titulos_em_aberto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(titulos_em_aberto.errors.count, "error") %> prohibited this titulos_em_aberto from being saved:</h2>

      <ul>
        <% titulos_em_aberto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :cliente, style: "display: block" %>
    <%= form.text_field :cliente %>
  </div>

  <div>
    <%= form.label :data_vencimento, style: "display: block" %>
    <%= form.date_field :data_vencimento %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
