<div id="<%= dom_id titulos_em_aberto %>">
  <p>
    <strong>Cliente:</strong>
    <%= titulos_em_aberto.cliente %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= titulos_em_aberto.data_vencimento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= titulos_em_aberto.valor %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= titulos_em_aberto.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= titulos_em_aberto.status %>
  </p>

</div>
