<div id="<%= dom_id tesourarium %>">
  <p>
    <strong>Tipo:</strong>
    <%= tesourarium.tipo %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= tesourarium.data %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= tesourarium.valor %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= tesourarium.descricao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= tesourarium.categoria %>
  </p>

  <p>
    <strong>Forma pagamento:</strong>
    <%= tesourarium.forma_pagamento %>
  </p>

</div>
