<p style="color: green"><%= notice %></p>

<%= render @tesourarium %>

<div>
  <%= link_to "Edit this tesourarium", edit_tesourarium_path(@tesourarium) %> |
  <%= link_to "Back to tesouraria", tesouraria_path %>

  <%= button_to "Destroy this tesourarium", @tesourarium, method: :delete %>
</div>
