<div id="<%= dom_id compra %>">
  <p>
    <strong>Fornecedor:</strong>
    <%= compra.fornecedor %>
  </p>

  <p>
    <strong>Data compra:</strong>
    <%= compra.data_compra %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= compra.valor_total %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= compra.produto %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= compra.quantidade %>
  </p>

  <p>
    <strong>Metodo pagamento:</strong>
    <%= compra.metodo_pagamento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= compra.status %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= compra.observacoes %>
  </p>

</div>
