<%= form_with(model: compra) do |form| %>
  <% if compra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(compra.errors.count, "error") %> prohibited this compra from being saved:</h2>

      <ul>
        <% compra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fornecedor, style: "display: block" %>
    <%= form.text_field :fornecedor %>
  </div>

  <div>
    <%= form.label :data_compra, style: "display: block" %>
    <%= form.date_field :data_compra %>
  </div>

  <div>
    <%= form.label :valor_total, style: "display: block" %>
    <%= form.text_field :valor_total %>
  </div>

  <div>
    <%= form.label :produto, style: "display: block" %>
    <%= form.text_field :produto %>
  </div>

  <div>
    <%= form.label :quantidade, style: "display: block" %>
    <%= form.number_field :quantidade %>
  </div>

  <div>
    <%= form.label :metodo_pagamento, style: "display: block" %>
    <%= form.text_field :metodo_pagamento %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :observacoes, style: "display: block" %>
    <%= form.text_area :observacoes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
