<div id="<%= dom_id automacao_tarefa %>">
  <p>
    <strong>Nome:</strong>
    <%= automacao_tarefa.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= automacao_tarefa.descricao %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= automacao_tarefa.horario %>
  </p>

  <p>
    <strong>Frequencia:</strong>
    <%= automacao_tarefa.frequencia %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= automacao_tarefa.ativo %>
  </p>

</div>
