<%= form_with(model: automacao_tarefa) do |form| %>
  <% if automacao_tarefa.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(automacao_tarefa.errors.count, "error") %> prohibited this automacao_tarefa from being saved:</h2>

      <ul>
        <% automacao_tarefa.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :horario, style: "display: block" %>
    <%= form.time_field :horario %>
  </div>

  <div>
    <%= form.label :frequencia, style: "display: block" %>
    <%= form.text_field :frequencia %>
  </div>

  <div>
    <%= form.label :ativo, style: "display: block" %>
    <%= form.check_box :ativo %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
