<p style="color: green"><%= notice %></p>

<%= render @automacao_tarefa %>

<div>
  <%= link_to "Edit this automacao tarefa", edit_automacao_tarefa_path(@automacao_tarefa) %> |
  <%= link_to "Back to automacao tarefas", automacao_tarefas_path %>

  <%= button_to "Destroy this automacao tarefa", @automacao_tarefa, method: :delete %>
</div>
