<div id="<%= dom_id processo_admissao %>">
  <p>
    <strong>Funcionario:</strong>
    <%= processo_admissao.funcionario %>
  </p>

  <p>
    <strong>Data admissao:</strong>
    <%= processo_admissao.data_admissao %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= processo_admissao.cargo %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= processo_admissao.salario %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= processo_admissao.departamento %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= processo_admissao.status %>
  </p>

  <p>
    <strong>Data entrega documentos:</strong>
    <%= processo_admissao.data_entrega_documentos %>
  </p>

</div>
