<p style="color: green"><%= notice %></p>

<%= render @processo_admissao %>

<div>
  <%= link_to "Edit this processo admissao", edit_processo_admissao_path(@processo_admissao) %> |
  <%= link_to "Back to processo admissaos", processo_admissaos_path %>

  <%= button_to "Destroy this processo admissao", @processo_admissao, method: :delete %>
</div>
