<!DOCTYPE html>
<html>
   <head>
      <!-- Incluir a biblioteca jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- Carregar o arquivo JavaScript para alternância de tema -->

      <!-- Incluir a referência à folha de estilo específica da view -->
      <%= yield :stylesheet %>
      <!-- tema claro e tema escuro -->
      <%= javascript_include_tag 'application' %>
   </head>
   <body>
      <h1>Products</h1>

      <div id="products">
         <% @products.each do |product| %>
         <%= render product %>
         <p>
            <%= link_to "Show this product", product %>
         </p>
         <% end %>
      </div>

      <%= link_to "New product", new_product_path %>
   </body>
</html>
