<div id="<%= dom_id ponto_eletronico %>">
  <p>
    <strong>Funcionario:</strong>
    <%= ponto_eletronico.funcionario %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= ponto_eletronico.data %>
  </p>

  <p>
    <strong>Hora entrada:</strong>
    <%= ponto_eletronico.hora_entrada %>
  </p>

  <p>
    <strong>Hora saida:</strong>
    <%= ponto_eletronico.hora_saida %>
  </p>

  <p>
    <strong>Horas trabalhadas:</strong>
    <%= ponto_eletronico.horas_trabalhadas %>
  </p>

</div>
