<p style="color: green"><%= notice %></p>

<%= render @ponto_eletronico %>

<div>
  <%= link_to "Edit this ponto eletronico", edit_ponto_eletronico_path(@ponto_eletronico) %> |
  <%= link_to "Back to ponto eletronicos", ponto_eletronicos_path %>

  <%= button_to "Destroy this ponto eletronico", @ponto_eletronico, method: :delete %>
</div>
