<div id="<%= dom_id folha_pagamento %>">
  <p>
    <strong>Funcionario:</strong>
    <%= folha_pagamento.funcionario %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= folha_pagamento.data_pagamento %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= folha_pagamento.salario %>
  </p>

  <p>
    <strong>Descontos:</strong>
    <%= folha_pagamento.descontos %>
  </p>

  <p>
    <strong>Bonus:</strong>
    <%= folha_pagamento.bonus %>
  </p>

  <p>
    <strong>Total pago:</strong>
    <%= folha_pagamento.total_pago %>
  </p>

</div>
