<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir a biblioteca jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Carregar o arquivo JavaScript para alternância de tema -->
  <%= javascript_include_tag 'application' %>

  <% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'vendas/vendas.css', media: 'all' %>
  <% end %>

  <!-- Incluir a referência à folha de estilo específica da view -->
  <%= yield :stylesheet %>

  <!-- Incluir a biblioteca do Google Charts -->
  <%= javascript_include_tag "//www.gstatic.com/charts/loader.js" %>

  <!-- Adicione a linha abaixo -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
</head>
  <body class="chart-grid">
    <div class="page-border">
      <div class="top-line"></div>
      <h1>Vendas</h1>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Data</th>
          </tr>
        </thead>
      <tbody>
        <% @vendas.each do |venda| %>
          <tr>
            <td><%= venda.produto %></td>
            <td><%= venda.quantidade %></td>
            <td><%= venda.preco %></td>
            <td><%= venda.data %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    <%= link_to 'Nova Venda', new_venda_path %>
  </div>
</body>


</html>
