<!-- app/views/vendas/new.html.erb (ou edit.html.erb, conforme necessário) -->
<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h4 class="card-title">Criar Nova Venda</h4>
    </div>
    <div class="card-body">
      <%= form_with(model: @venda, local: true, class: 'form') do |form| %>
        <% if @venda.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h4><%= pluralize(@venda.errors.count, "error") %> proibiram esta venda de ser salva:</h4>
            <ul>
              <% @venda.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :funcionario_id, "Funcionário" %>
          <%= form.collection_select :funcionario_id, Funcionario.all, :id, :nome, { prompt: "Selecione o Funcionário" }, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :client_id, "Cliente" %>
          <%= form.collection_select :client_id, Client.all, :id, :name, { prompt: "Selecione um Cliente" }, class: "form-control" %>
        </div>

        <div class="form-group">
          <h5>Adicionar Produtos ao Carrinho</h5>
          <div class="input-group">
            <%= text_field_tag :product_search, '', placeholder: "Pesquise pelo ID ou nome do produto...", id: "product_search", class: "form-control" %>
            <div class="input-group-append">
              <button type="button" class="btn btn-success" id="add-product">
                <i class="fas fa-plus-circle"></i> Adicionar
              </button>
            </div>
          </div>

          <div id="product_suggestions" class="list-group mt-2" style="display: none;">
            <!-- Sugestões serão exibidas aqui -->
          </div>

          <ul id="selected-products" class="list-group mt-3">
            <!-- Produtos selecionados serão exibidos aqui -->
          </ul>
        </div>

        <div class="form-group">
          <%= form.label :data, "Data da Venda" %>
          <%= form.date_select :data, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.submit "Fechar Venda", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#product_search').on('keyup', function() {
    var query = $(this).val();
    if (query.length > 0) {
      $.ajax({
        url: "<%= search_products_path %>", // Rota para buscar produtos
        data: { q: query },
        dataType: 'json',
        success: function(data) {
          $('#product_suggestions').empty().show();
          if (data.length > 0) {
            data.forEach(function(product) {
              $('#product_suggestions').append('<a href="#" class="list-group-item list-group-item-action suggestion" data-id="' + product.id + '">' + product.name + '</a>');
            });
          } else {
            $('#product_suggestions').append('<div class="list-group-item">Nenhum produto encontrado</div>');
          }
        },
        error: function() {
          $('#product_suggestions').empty().show().append('<div class="list-group-item">Erro ao buscar produtos</div>');
        }
      });
    } else {
      $('#product_suggestions').hide();
    }
  });

  $('#product_suggestions').on('click', '.suggestion', function(e) {
    e.preventDefault();
    var productId = $(this).data('id');
    var productName = $(this).text();
    var productItem = '<li class="list-group-item d-flex justify-content-between align-items-center" data-product-id="' + productId + '">' +
                      '<span>Produto: ' + productName + '</span>' +
                      '<input type="hidden" name="venda[order_items_attributes][][product_id]" value="' + productId + '">' +
                      '<input type="number" name="venda[order_items_attributes][][quantidade]" class="form-control form-control-sm ml-2" value="1" style="width: 100px;">' +
                      '<button type="button" class="btn btn-danger btn-sm ml-2 remove-product">Remover</button>' +
                      '</li>';
    $('#selected-products').append(productItem);
    $('#product_suggestions').hide();
    $('#product_search').val('');
  });

  $('#selected-products').on('click', '.remove-product', function() {
    $(this).closest('li').remove();
  });
});
</script>
