<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir a biblioteca jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Incluir a folha de estilo Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

  <!-- Incluir a folha de estilo específica da view -->
  <%= stylesheet_link_tag 'vendas/vendas.css', media: 'all' %>

  <!-- Carregar o arquivo JavaScript para alternância de tema -->
  <%= javascript_include_tag 'application' %>

  <!-- Adicione DataTables visualização -->
  <%= javascript_include_tag 'https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag 'https://cdn.datatables.net/1.11.6/js/dataTables.bootstrap.min.js' %>
  <!-- Incluir a biblioteca do Google Charts -->
  <%= javascript_include_tag "//www.gstatic.com/charts/loader.js" %>
</head>

<body>
  <div class="page-border">

    <div class="top-line"></div>

    <%= form_with(model: @venda, local: true) do |form| %>
      <% if @venda.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@venda.errors.count, "error") %> prohibited this venda from being saved:</h2>
          <ul>
            <% @venda.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :funcionario_id, "Funcionario" %>
        <%= form.collection_select :Funcionario_id, Funcionario.all, :id, :nome, { prompt: "Selecione o Funcionario" } %>
      </div>

      <div class="field">
        <%= form.label :client_id, "Cliente" %>
        <%= form.collection_select :client_id, Client.all, :id, :name, { prompt: "Selecione um cliente" } %>
      </div>

      <div class="field">
      <%= form.label :product_id, "Produto" %>
      <%= form.collection_select :product_id,  Product.all, :id, :name, { prompt: "Selecione um produto" } %>
      </div>


      <div class="field">
        <%= form.label :quantidade %>
        <%= form.number_field :quantidade %>
      </div>


      <div class="field">
        <%= form.label :data %>
        <%= form.date_select :data %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</body>
</html>
