<h1>Venda</h1>

<p><strong>Produto:</strong> <%= @venda.product.name %></p>
<p><strong>Quantidade:</strong> <%= @venda.quantidade %></p>

<p><strong>Data:</strong> <%= @venda.data %></p>

<%= link_to 'Editar', edit_venda_path(@venda) %> |
<%= link_to 'Voltar', vendas_path %> |

  <%= button_to "Exluir venda", @venda_path, method: :delete %>
</div>



