<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= funcionario.cpf %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= funcionario.data_nascimento %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= funcionario.endereco %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= funcionario.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= funcionario.email %>
  </p>

  <p>
    <strong>Cargo:</strong>
    <%= funcionario.cargo %>
  </p>

  <p>
    <strong>Salario:</strong>
    <%= funcionario.salario %>
  </p>

  <p>
    <strong>Data admissao:</strong>
    <%= funcionario.data_admissao %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= funcionario.ativo %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= funcionario.departamento %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= funcionario.genero %>
  </p>

  <p>
    <strong>Estado civil:</strong>
    <%= funcionario.estado_civil %>
  </p>

  <p>
    <strong>Identificacao:</strong>
    <%= funcionario.identificacao %>
  </p>

</div>
