<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Incluir a biblioteca jQuery -->
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>

  <!-- Incluir a folha de estilo Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

  <!-- Incluir a folha de estilo específica da view -->
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.11.6/css/dataTables.bootstrap.min.css' %>
  <%= stylesheet_link_tag 'vendas/vendas.css', media: 'all' %>

  <!-- Carregar o arquivo JavaScript para alternância de tema -->
  <%= javascript_include_tag 'application' %>

  <!-- Adicionar DataTables -->
  <%= javascript_include_tag 'https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag 'https://cdn.datatables.net/1.11.6/js/dataTables.bootstrap.min.js' %>

  <!-- Incluir a biblioteca do Google Charts -->
  <%= javascript_include_tag "//www.gstatic.com/charts/loader.js" %>
</head>

<body class="chart-grid">
  <div class="page-border">

    <!-- Mensagem de aviso -->
    <p style="color: green"><%= notice %></p>

    <!-- Título da página -->
    <% content_for :title, "Funcionarios" %>

    <div class="titulo-da-pagina">
      <h1>Funcionarios cadastrados</h1>
    </div>

    <!-- Link para adicionar novo funcionário -->
    <%= link_to "New funcionario", new_funcionario_path %>

    <!-- Tabela de funcionários -->
    <table id="tabela-vendas" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>Cargo</th>
          <th>Salário</th>
          <th>Data de Admissão</th>
          <th>Departamento</th>
          <th>Estado Civil</th>
        </tr>
      </thead>
      <tbody>
        <% @funcionarios.each do |funcionario| %>
          <tr>
            <td><%= link_to funcionario.id, funcionario_path(funcionario) %></td>
            <td><%= funcionario.nome %></td>
            <td><%= funcionario.cpf %></td>
            <td><%= funcionario.endereco %></td>
            <td><%= funcionario.telefone %></td>
            <td><%= funcionario.cargo %></td>
            <td><%= funcionario.salario %></td>
            <td><%= funcionario.data_admissao %></td>
            <td><%= funcionario.departamento %></td>
            <td><%= funcionario.estado_civil %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!-- Script para inicializar DataTables -->
    <script>
      $(document).ready(function() {
        $('#tabela-vendas').DataTable({
          "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
          "pageLength": 10
        });
      });
    </script>
  </div>
</body>
</html>
