<div id="<%= dom_id conta_pagar %>">
  <p>
    <strong>Fornecedor:</strong>
    <%= conta_pagar.fornecedor %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <%= conta_pagar.data_vencimento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= conta_pagar.valor %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= conta_pagar.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= conta_pagar.status %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= conta_pagar.data_pagamento %>
  </p>

</div>
