<p style="color: green"><%= notice %></p>

<%= render @conta_pagar %>

<div>
  <%= link_to "Edit this conta pagar", edit_conta_pagar_path(@conta_pagar) %> |
  <%= link_to "Back to conta pagars", conta_pagars_path %>

  <%= button_to "Destroy this conta pagar", @conta_pagar, method: :delete %>
</div>
