<%= form_with(model: pedido_compra) do |form| %>
  <% if pedido_compra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pedido_compra.errors.count, "error") %> prohibited this pedido_compra from being saved:</h2>

      <ul>
        <% pedido_compra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fornecedor, style: "display: block" %>
    <%= form.text_field :fornecedor %>
  </div>

  <div>
    <%= form.label :data_pedido, style: "display: block" %>
    <%= form.date_field :data_pedido %>
  </div>

  <div>
    <%= form.label :valor_total, style: "display: block" %>
    <%= form.text_field :valor_total %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :data_entrega, style: "display: block" %>
    <%= form.date_field :data_entrega %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
