<div id="<%= dom_id pedido_compra %>">
  <p>
    <strong>Fornecedor:</strong>
    <%= pedido_compra.fornecedor %>
  </p>

  <p>
    <strong>Data pedido:</strong>
    <%= pedido_compra.data_pedido %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= pedido_compra.valor_total %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= pedido_compra.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pedido_compra.status %>
  </p>

  <p>
    <strong>Data entrega:</strong>
    <%= pedido_compra.data_entrega %>
  </p>

</div>
